@import 'tailwindcss';

:root {
    --custom-black: #050505;
    --custom-white: whitesmoke;
    --custom-primary: #c9f31d;
    --custom-secondary: #1c1c1c;
    --custom-light-gray: #eeeeee;
    --custom-dark-gray: #404040;
    --custom-drop-shadow: #c5fb6733;
}

@theme {
    --color-custom-black: var(--custom-black);
    --color-custom-white: var(--custom-white);
    --color-custom-light-gray: var(--custom-light-gray);
    --color-custom-dark-gray: var(--custom-dark-gray);
    --color-custom-primary: var(--custom-primary);
    --color-custom-secondary: var(--custom-secondary);
    --color-custom-drop-shadow: var(--custom-drop-shadow);
}

body {
    background: var(--color-custom-black);
    color: var(--color-custom-white);
}

.rfm-marquee {
    overflow: visible !important;
}
.rfm-initial-child-container {
    overflow: visible !important;
}

.go-down-btn svg {
    position: relative;
    z-index: -1;
}

.rotate-text {
    font-size: 13px;
    letter-spacing: 0.1em;
    transform-origin: center;
    animation: rotate-btn 20s linear infinite;
}

.go-down-btn:hover .rotate-text {
    animation-play-state: paused;
}

::selection {
    background: var(--custom-primary);
    color: var(--custom-black);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: color-mix(in srgb, var(--custom-primary) 90%, transparent);
    border-radius: 999px;
}

@keyframes rotate-btn {
    to {
        transform: rotate(360deg);
    }
}

/* md breakpoint */
@media (min-width: 768px) {
    .my-text {
        font-size: 192px;
        line-height: 33.75rem;
    }
}
