@import 'tailwindcss';

:root {
    --custom-black: #050505;
    --custom-white: whitesmoke;
    --custom-primary: #c9f31d;
    --custom-secondary: #1c1c1c;
    --custom-light-gray: #eeeeee;
    --custom-dark-gray: #404040;
    --custom-drop-shadow: #c5fb6733;
}

@theme {
    --color-custom-black: var(--custom-black);
    --color-custom-white: var(--custom-white);
    --color-custom-light-gray: var(--custom-light-gray);
    --color-custom-dark-gray: var(--custom-dark-gray);
    --color-custom-primary: var(--custom-primary);
    --color-custom-secondary: var(--custom-secondary);
    --color-custom-drop-shadow: var(--custom-drop-shadow);
}

body {
    background: var(--color-custom-black);
    color: var(--color-custom-white);
}

/* .my-text {
    font-weight: 600;
    letter-spacing: -1px;
    text-transform: uppercase;

    padding-top: 1rem;
    margin-left: -1rem;

    color: transparent;
    transform: translateY(-10px);

    -webkit-text-stroke: 1px rgba(197, 251, 103, 1);
} */

.go-down-btn svg {
    position: relative;
    z-index: -1;
}

.rotate-text {
    font-size: 13px;
    letter-spacing: 0.1em;
    transform-origin: center;
    animation: rotate-btn 20s linear infinite;
}

.go-down-btn:hover .rotate-text {
    animation-play-state: paused;
}

::selection {
    background: var(--custom-primary);
    color: var(--custom-black);
}

@keyframes rotate-btn {
    to {
        transform: rotate(360deg);
    }
}

/* md breakpoint */
@media (min-width: 768px) {
    .my-text {
        font-size: 192px;
        line-height: 33.75rem;
    }
}
